@import "normalize.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
#page {
  position: relative;
  width: 100%;
  left: auto;
  right: auto;
  margin-top: 36px;
}
body {
  font: 14px/1.5 'Open sans', sans-serif;
  color: #113366;
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3 {
  font-weight: 600;
}
header {
  background-color: #113366;
}
header h1 {
  font-size: 24px;
  padding: 20px;
  background: #75a3e8;
  text-align: center;
}
header nav li {
  width: 100%;
  text-align: center;
}
header nav li a {
  display: block;
  padding: 6px 0;
  background-color: #113366;
  color: #5f94e4;
  text-decoration: none;
}
section {
  clear: both;
}

section h2 {
  font-size: 24px;
  padding: 24px 0;
}
section p img {
  width: 100%;
}
section.second p {
  margin: 24px 16px;
}
section.second p a {
  color: #205fbd;
  text-decoration: none;
  font-weight: 600;
}
section.second p img {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/*Hiding Slideshow in mobile device*/
p.slideshow {
    display: none;
}

footer {
  clear: both;
}
footer li {
  width: 50%;
  float: left;
  text-align: center;
}
footer li a {
  display: block;
  padding: 6px 0;
  background-color: #113366;
  color: #5f94e4;
  text-decoration: none;
}
/* Tablet Css */
@media (min-width: 750px) {
  body {
    font-size: 16px;
    width: 750px;
  }
  header {
    clear: both;
  }
  header h1 {
    width: 290px;
    float: left;
    padding: 34px 20px;
  }
  header nav {
    width: 420px;
    float: right;
  }
  header nav li {
    width: 140px;
    float: left;
  }
  header nav li a {
    padding: 14px 0;
  }
  section {
    clear: both;
  }
  section.second p {
    width: 290px;
    float: left;
  }
  section.second p + p {
    width: 396px;
    float: right;
  }
  section div {
    clear: both;
  }
  /*show slide show in tablets and desktop*/
  p.slideshow {
      display: block;
  }
  footer nav ul + ul {
    position: absolute;
    top: -36px;
    right: 0px;
  }
  footer nav ul + ul li {
    width: 140px;
  }
}
/* Desktop CSS */
@media (min-width: 960px) {
  body {
    width: 960px;
  }
  header h1 {
    width: 290px;
    padding: 8px 20px;
    text-align: left;
  }
  header nav {
    width: 630px;
  }
  header nav li {
    width: 105px;
  }
  section.second p + p {
    width: 606px;
  }
  footer nav ul + ul {
    right: 0;
  }
}
