@import "normalize.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}
header {
  width: 100%;
}
header h1 {
  text-align: center;
  padding: 0 0 13px 0;
  width: 100%;
  color: #663333;
}
header nav {
  background-color: #442222;
}
header nav ul li {
  background-color: #442222;
  width: 100%;
  float: left;
  list-style: none;
  margin: 3px auto;
}
header nav ul li a {
  color: #c48888;
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
  display: block;
}
img {
  width: 480px;
}
footer {
  width: 100%;
}
footer h1 {
  text-align: center;
  padding: 0 0 13px 0;
  width: 100%;
  color: #663333;
}
footer nav {
  background-color: #442222;
}
footer nav ul li {
  background-color: #442222;
  width: 100%;
  float: left;
  list-style: none;
  margin: 3px auto;
}
footer nav ul li a {
  color: #c48888;
  text-decoration: none;
  text-align: center;
  padding: 20px 0;
  display: block;
}
/* Tablet Css */
@media (min-width: 750px) {
  body {
    width: 750px;
  }
  header {
    display: block;
    width: 750px;
    height: auto;
  }
  header h1 {
    float: left;
    text-align: left;
    width: 225px;
    margin: 24px 0 ;
  }
  header nav ul {
    float: left;
    width: 525px;
  }
  header nav ul li {
    width: 32%;
    margin: 3px 3px;
  }
  section + section h3 {
    width: 100%;
    text-align: right;
  }
  section + section img {
    width: 250px;
    float: left;
  }
  section + section p {
    width: 750px;
  }
  .subsection {
    width: 750px;
  }
  .subsection img {
    padding-right: 30px;
    padding-bottom: 150px;
  }
  footer nav ul li {
    width: 375px;
    float: left;
  }
  footer nav ul li a {
    width: 375px;
  }
}
/* Desktop CSS */
